@font-face {
  font-family: myfont;
  src: url('./Montserrat-Light.ttf');
}

* {
  font-family: 'myfont', 'Courier New', Courier, monospace;
}

body {
  background: linear-gradient(0deg, #000000e5 0%, #1c4745d7 50%, #1c4745dc 100%), url('../img/backgroundpatter.png');
  background-attachment: fixed;
  background-size: 10%;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(252, 252, 252, 0);
}

::-webkit-scrollbar-thumb {
  background: #1a9484;
}

::-webkit-scrollbar-thumb:hover {
  background: #009ee2;
}

.loading-spinner {
  width: 100px;
  height: 100px;
  font-size: 100px;
}

.shadowbackground {
  background-color: #000000a6;
  border-radius: 30px;
  margin: 0;
}

.AboutImg {
  max-width: 500px;
  width: 100%;
  border-radius: 30px;
}

.bg-transparentblack {
  background-color: rgba(0, 0, 0, 0.432);
  border-radius: 30px;
}

.menuBtn {
  width: 25px;
}

#linkContainer {
  list-style: none;
}

button {
  color: #81f6fa;
}

.active,
.active:visited {
  color: #a1e9ff;
  background-color: #1c4745;
  border: 0;
}

.list-style-none {
  list-style: none;
}

.projectImg {
  aspect-ratio: 1/1;
  border-radius: 10px;
}

.outline-red {
  box-shadow: 0 0 7px 2px red;
}

.nav-text {
  color: #2f3a52;
  font-size: 20px;
  font-weight: 900;
  background-color: white;
  padding: 25px;
  margin: 10px 0 10px 30px;
  text-decoration: none;
  border-radius: 10px 0 0 10px ;
}

.nav-text:hover {
  color: #d6f0ff;
  background-color: rgb(19, 161, 142);
}

.black-translucid {
  background-color: rgba(0, 0, 0, 0.514);
  box-shadow: 0 0 25px 0 black;
  border-radius: 10px;
}

#navbar {
  width: 15%;
  height: 100%;
  background-color: #2e4464;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.overflow-y-auto {
  overflow-y: auto;
}

#page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
}

.show-menu {
  list-style: none;
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.hide-menu {
  list-style: none;
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.div-menu-container {
  width: 100%;
  height: 100%;
}

.home-container {
  width: 85%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.image-container {
  width: 60%;
  padding: 150px;
  background-image: url('../img/dots.svg');
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
  transform: rotate(45deg);
}

.image-container img{
  border-radius: 40px;
  transform: rotate(-45deg);
  box-shadow: 0 0 25px 0 #000000;
}

.home-text-container {
  padding: 20px 20px 20px 0;
}

.project-container {
  width: 85%;
  height: 100%;
  padding: 20px;
  overflow-y: auto;
}

.about-container {
  width: 85%;
  height: 100%;
  overflow-y: auto;
  padding: 40px;
}

.contact-container {
  width: 85%;
  overflow-y: auto;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  #navbar {
    width: 100%;
    height: auto;
  }

  .show-menu {
    position: absolute;
    right: 0;
    top: 68px;
    left: 50%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 50%;
    height: 70%;
    background-color: #142b3dc4;
    margin: 0;
    border-bottom-left-radius: 10px;
    z-index: 900;
  }

  .div-menu-container {
    width: 50%;
    height: 70%;
  }

  .hide-menu {
    display: none;
  }

  #page-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
  }

  .nav-text {
    color: #f8f8f8;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
    background-color: #00000000;
    margin: 0;
    border: 0;
  }

  .nav-text:hover {
    color: #009df8;
    background-color: #00000000;
  }

  .active, .active:visited {
    color: #00a2ff;
    background-color: #00000000;
    text-shadow: 0 0 25px white;
  }

  .home-container {
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .image-container {
    width: 100%;
    padding: 60px;
    border-radius: 20px;
  }

  .home-text-container {
    padding: 20px;
  }

  .project-container {
    width: 100%;
    padding: 20px;
    overflow-y: auto;
  }

  .about-container {
    width: 100%;
    overflow-y: auto;
    padding: 20px;
  }

  .contact-container {
    width: 100%;
    overflow-y: auto;
    padding: 20px;
  }
}
